@import url("../font/iconfont.css");
:root{--base_color:#1abc9c;--max_width:960px;--hover_color:#1abc9c}
*{padding:0;margin:0;box-sizing:border-box}
body{font:16px/1.5 'Microsoft Yahei',tahoma,Srial,helvetica,sans-serif}
li,ol,ul{list-style:none}
h1,h2,h3,h4,h5{font-weight:400;font-size:16px}
a{text-decoration:none;-moz-transition:all .3s ease-in;-webkit-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;color:#368dda}
header{background:var(--base_color);height:50px;margin-bottom:20px;width:100%}
header .warp{color:#fff;height:50px;margin:0 auto;display:flex;justify-content:space-between;align-items:center;position:fixed;left:0;top:0;right:0}
footer{background:#444;color:#bbb;width:100%;}
footer .top .tit{padding: 10px 0;}
footer .top>div{float: left;}
footer .top .iconfont{margin-right:10px;font-size:18px;position:relative;top:1px}
footer .top li{float:left;margin-bottom: 10px;}
footer .top li a{color:#bbb;background:#666;display:inline-block;padding:3px 10px;margin-right:10px}
footer .top li a:hover{background:var(--hover_color);color:#fff}
.tools-title{font-size: 18px;text-align: center;color: var(--base_color);padding: 10px 0;}
#tools{width: 100%;overflow: hidden;padding: 10px;}
.tools-nav{height: 40px;display: flex;align-items: center;flex-wrap: wrap;padding: 10px;}
.tools-nav span{margin-right: 10px;}
.tools-nav span:hover{color: var(--hover_color);}
.tools-nav span.current{color: var(--hover_color);font-weight: 700;}
.flex{display:flex}
.flex_center{align-items:center;justify-content:center}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
@media only screen and (min-width:768px){
header .warp{width:var(--max_width)}
header .logo{margin-right:20px}
header .menu{display:none}
header .nav{display:flex;flex:1}
header .nav h2 a{padding:0 20px;color:#fff;display:flex;height:50px;align-items:center}
header .nav h2 a:hover{background:rgba(0,0,0,.1)}
header .search{display:flex;align-items:center}
header .search input[name=q]{height:32px;border:1px solid #ebebeb;border-radius:4px;padding:0 10px;margin-right:10px}
header .search input[name=q]::placeholder{color:#ccc}
header .search .submit{height:32px;width:32px;position:relative}
header .search .submit input{width:32px;height:32px;background:0 0;border:1px solid #ebebeb;border-radius:4px}
header .search .submit .iconfont{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);font-size:20px}
footer .top{width:var(--max_width);margin:0 auto;}
footer .top>div{width: 50%;}
footer .link{background: #333;height: 46px;display: flex;align-items: center;color: #bbb;padding: 0 20px;}
.container{width:var(--max_width);margin:0 auto;}
}
@media only screen and (max-width:768px){
header .warp{width:100%;padding:0 10px}
header .search{display:none}
header .nav{display:none}
footer .top{width:100%;padding: 10px;}
footer .link{display: none;}
}